<a href="https://colab.research.google.com/github/oktvnlaaa/Machine-Learningg/blob/main/Pertemuan_2_Yola_Okta_Vina_2117051052.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pertemuan 2 Machine Learning

# Library



*   Install Library
*   Deklarasi Library
*   Library bisa disebut sebagai kumpulan kode yang dapat digunakan berulang kali dalam program yang berbeda
*   https://www.geeksforgeeks.org/libraries-in-python/

In [ ]:
# install library mlxtend
!pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.8/dist-packages (0.14.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (3.5.3)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.22.4)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (4.38.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.17.1->mlxtend) (2022.7.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7->matplotlib>=1.5.1->mlxtend) (1.15.0)

In [ ]:
import pandas as pd
import numpy as np

# import apriori from library mixtend
from mlxtend.frequent_patterns import apriori, association_rules

# Dataset



*   Membuat dataset transaksi sebagai dataframe
*   cek dataset transaksi

In [ ]:
# membuat data tabular yang terdiri dari data transaksi
df = pd.DataFrame(
    {
        "ID Transaksi": pd.Series([1, 2, 3, 4, 5]),
        "Item": pd.Series([["Susu", "Roti", "Biskuit", "Mentega"], \
                          ["Susu", "Biskuit", "Gula", "Kopi"], \
                          ["Gula", "Kopi", "Susu"], ["Kopi", "Biskuit", "Susu", "Gula"], \
                          ["Mentega", "Roti", "Kopi"]]),
    }
)

# Encoding Data Transaksi

In [ ]:
df = df.explode('Item')
df

   ID Transaksi     Item
0             1     Susu
0             1     Roti
0             1  Biskuit
0             1  Mentega
1             2     Susu
1             2  Biskuit
1             2     Gula
1             2     Kopi
2             3     Gula
2             3     Kopi
2             3     Susu
3             4     Kopi
3             4  Biskuit
3             4     Susu
3             4     Gula
4             5  Mentega
4             5     Roti
4             5     Kopi

In [ ]:
basket = (df.groupby (['ID Transaksi', 'Item'])['Item']. count()\
          .unstack(). reset_index(). fillna(0) \
          .set_index('ID Transaksi'))
basket.head()

Item          Biskuit  Gula  Kopi  Mentega  Roti  Susu
ID Transaksi
1                 1.0   0.0   0.0      1.0   1.0   1.0
2                 1.0   1.0   1.0      0.0   0.0   1.0
3                 0.0   1.0   1.0      0.0   0.0   1.0
4                 1.0   1.0   1.0      0.0   0.0   1.0
5                 0.0   0.0   1.0      1.0   1.0   0.0

# Algoritma Apriori

Eksekusi algoritma apriori menggunakan library mlextend dengan fungsi apriori

# Apriori Tahap 1

Eliminasi itemset berdasarkan minimum support

In [ ]:
# set minimum support 60%
frequent_itemsets = apriori(basket, min_support = 0.6, use_colnames = True)

# print(list(frequent_itemset))
frequent_itemsets

   support            itemsets
0      0.6           (Biskuit)
1      0.6              (Gula)
2      0.8              (Kopi)
3      0.8              (Susu)
4      0.6     (Susu, Biskuit)
5      0.6        (Kopi, Gula)
6      0.6        (Susu, Gula)
7      0.6        (Susu, Kopi)
8      0.6  (Susu, Kopi, Gula)

# Apriori Tahap 2

Perhitungan Confidence

In [ ]:
rules = association_rules(frequent_itemsets, metric ="confidence", min_threshold = 0.6)
rules [["antecedents", "consequents", "support","confidence"]]

     antecedents   consequents  support  confidence
0         (Susu)     (Biskuit)      0.6        0.75
1      (Biskuit)        (Susu)      0.6        1.00
2         (Kopi)        (Gula)      0.6        0.75
3         (Gula)        (Kopi)      0.6        1.00
4         (Susu)        (Gula)      0.6        0.75
5         (Gula)        (Susu)      0.6        1.00
6         (Susu)        (Kopi)      0.6        0.75
7         (Kopi)        (Susu)      0.6        0.75
8   (Susu, Kopi)        (Gula)      0.6        1.00
9   (Susu, Gula)        (Kopi)      0.6        1.00
10  (Kopi, Gula)        (Susu)      0.6        1.00
11        (Susu)  (Kopi, Gula)      0.6        0.75
12        (Kopi)  (Susu, Gula)      0.6        0.75
13        (Gula)  (Susu, Kopi)      0.6        1.00

# TUGAS RESPONSI 2 Machine Learning

Menggunakan data yang sama, selesai kasus apriori ini dengan minimum support 40%

# Apriori Tahap 1

In [ ]:
# set minimum support 40%
frequent_itemsets = apriori(basket, min_support = 0.4, use_colnames = True)

# print(list(frequent_itemset))
frequent_itemsets

    support                     itemsets
0       0.6                    (Biskuit)
1       0.6                       (Gula)
2       0.8                       (Kopi)
3       0.4                    (Mentega)
4       0.4                       (Roti)
5       0.8                       (Susu)
6       0.4              (Gula, Biskuit)
7       0.4              (Kopi, Biskuit)
8       0.6              (Susu, Biskuit)
9       0.6                 (Kopi, Gula)
10      0.6                 (Susu, Gula)
11      0.6                 (Susu, Kopi)
12      0.4              (Roti, Mentega)
13      0.4        (Kopi, Gula, Biskuit)
14      0.4        (Susu, Gula, Biskuit)
15      0.4        (Susu, Kopi, Biskuit)
16      0.6           (Susu, Kopi, Gula)
17      0.4  (Susu, Kopi, Gula, Biskuit)

# Apriori Tahap 2

In [ ]:
rules = association_rules(frequent_itemsets, metric ="confidence", min_threshold = 0.4)
rules [["antecedents", "consequents", "support","confidence"]]

              antecedents            consequents  support  confidence
0                  (Gula)              (Biskuit)      0.4    0.666667
1               (Biskuit)                 (Gula)      0.4    0.666667
2                  (Kopi)              (Biskuit)      0.4    0.500000
3               (Biskuit)                 (Kopi)      0.4    0.666667
4                  (Susu)              (Biskuit)      0.6    0.750000
5               (Biskuit)                 (Susu)      0.6    1.000000
6                  (Kopi)                 (Gula)      0.6    0.750000
7                  (Gula)                 (Kopi)      0.6    1.000000
8                  (Susu)                 (Gula)      0.6    0.750000
9                  (Gula)                 (Susu)      0.6    1.000000
10                 (Susu)                 (Kopi)      0.6    0.750000
11                 (Kopi)                 (Susu)      0.6    0.750000
12                 (Roti)              (Mentega)      0.4    1.000000
13              (Mentega)                 (Roti)      0.4    1.000000
14           (Kopi, Gula)              (Biskuit)      0.4    0.666667
15        (Kopi, Biskuit)                 (Gula)      0.4    1.000000
16        (Gula, Biskuit)                 (Kopi)      0.4    1.000000
17                 (Kopi)        (Gula, Biskuit)      0.4    0.500000
18                 (Gula)        (Kopi, Biskuit)      0.4    0.666667
19              (Biskuit)           (Kopi, Gula)      0.4    0.666667
20           (Susu, Gula)              (Biskuit)      0.4    0.666667
21        (Susu, Biskuit)                 (Gula)      0.4    0.666667
22        (Gula, Biskuit)                 (Susu)      0.4    1.000000
23                 (Susu)        (Gula, Biskuit)      0.4    0.500000
24                 (Gula)        (Susu, Biskuit)      0.4    0.666667
25              (Biskuit)           (Susu, Gula)      0.4    0.666667
26           (Susu, Kopi)              (Biskuit)      0.4    0.666667
27        (Susu, Biskuit)                 (Kopi)      0.4    0.666667
28        (Kopi, Biskuit)                 (Susu)      0.4    1.000000
29                 (Susu)        (Kopi, Biskuit)      0.4    0.500000
30                 (Kopi)        (Susu, Biskuit)      0.4    0.500000
31              (Biskuit)           (Susu, Kopi)      0.4    0.666667
32           (Susu, Kopi)                 (Gula)      0.6    1.000000
33           (Susu, Gula)                 (Kopi)      0.6    1.000000
34           (Kopi, Gula)                 (Susu)      0.6    1.000000
35                 (Susu)           (Kopi, Gula)      0.6    0.750000
36                 (Kopi)           (Susu, Gula)      0.6    0.750000
37                 (Gula)           (Susu, Kopi)      0.6    1.000000
38     (Susu, Kopi, Gula)              (Biskuit)      0.4    0.666667
39  (Susu, Kopi, Biskuit)                 (Gula)      0.4    1.000000
40  (Susu, Gula, Biskuit)                 (Kopi)      0.4    1.000000
41  (Kopi, Gula, Biskuit)                 (Susu)      0.4    1.000000
42           (Susu, Kopi)        (Gula, Biskuit)      0.4    0.666667
43           (Susu, Gula)        (Kopi, Biskuit)      0.4    0.666667
44        (Susu, Biskuit)           (Kopi, Gula)      0.4    0.666667
45           (Kopi, Gula)        (Susu, Biskuit)      0.4    0.666667
46        (Kopi, Biskuit)           (Susu, Gula)      0.4    1.000000
47        (Gula, Biskuit)           (Susu, Kopi)      0.4    1.000000
48                 (Susu)  (Kopi, Gula, Biskuit)      0.4    0.500000
49                 (Kopi)  (Susu, Gula, Biskuit)      0.4    0.500000
50                 (Gula)  (Susu, Kopi, Biskuit)      0.4    0.666667
51              (Biskuit)     (Susu, Kopi, Gula)      0.4    0.666667